// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #383838;
$light-gray: #F4F4F4;

$maroon: #B72445;
$indigo: #08415C;
$baby-pink: #f7e0df;
$emerald: #1A936F;
