<div class="jumbotron main-page">
  <div class="container">
    <%= link_to cocktails_path do %>
      <h1 id="site-title" class="tracking-in-expand">Buzz Butler</h1>
    <% end %>
    <p id="site-subtitle">Get your buzz on. We'll help.</p>
  </div>
</div>
