<div class="row">
  <div class="col">
    <h1>Create a new cocktail</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file, input_html: { class: "custom-upload" } %>
      <%= f.submit class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>
